
@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


body section  {
  height: 100vh;
  display: flex;
  justify-content: top;
  align-items: top;

}

/*Header*/
.header nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
.header nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 420;
  
}
.header nav .logo_name{
	margin-bottom:70px;
}

.header nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.header nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #c1ebff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #ffda47;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 30px 0 30px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #ffda47;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: #1d1b31;
  }
}

/*dashborad*/
.home-section .home-content{
  position: relative;
  padding-top: 20px;
}
.home-content .overview-boxes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px 15px 15px 15px;
  margin-bottom: 26px;
}
.overview-boxes .box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 20px);
  height: 450px;
  background: #fff;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.overview-boxes .box-topic{
  font-size: 27px;
  font-weight: 500;
  
}
.home-content .box .indicator{
  display: flex;
  align-items: center;
}
.home-content .box .indicator i{
  height: 30px;
  width: 30px;
  background: #ffda47;
  line-height: 20px;
  border-radius: 6px;
  color: #fff;
  font-size: 25px;
  padding: 5px 2px 1px 2px;
}
.box .indicator i.down{
  background: #e87d88;
}
.home-content .box .indicator .text{
  font-size: 14px;
}
.home-content .box .indicator .text:hover{
  color:red;
}
.home-content .box .cart{
  display: inline-block;
  font-size: 40px;
  height: 55px;
  width: 55px;
  background: #cce5ff;
  line-height: 50px;
  text-align: center;
  color: white;
  border-radius: 12px;
  margin: 15px 10px 0 6px;
}
.home-content .box .cart.two{
   color: #2BD47D;
   background: #C0F2D8;
 }
.home-content .box .cart.three{
   color: #ffc233;
   background: #ffe8b3;
 }
.home-content .box .cart.four{
   color: #e05260;
   background: #f7d4d7;
 }


/**/
.container{
  max-width: 4000px;
  width: 85%;
  background-color: #fff;
  box-shadow: -10px -8px 4px rgba(0,0,0,0.15);
  margin: 40px 40px 30px 90px;
  padding: 25px 30px;
  border-radius: 20px;
}
.container .title{
  font-size: 35px;
  font-weight:350;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: black;
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input,select{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 12px;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input .reason{
  height: 135px;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #ffc233;
}
 form .gender-details .gender-title{
  font-size: 17px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 60%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 50%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: #ffda47;
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  color: #000;
  border: 1px solid #000;
  background: #fff;
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}



.home-section{
  position: relative;
  min-height: 110vh;
  height:100px;
  top: 0;
  left: 40px;
  width: calc(100% - 60px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 130px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
.home-section nav{
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #ffda47;
  align-items: center;
  max-width:1500px;
  width: calc(100% - 18px);
  margin: 3px 3px 0 6px;
  z-index: 100;
  padding: 0 18px;
  border-radius:5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
  
}
.sidebar.active ~ .home-section nav{
  left: 205px;
  right:60px;
  width: calc(100% - 400px);
}
.home-section nav .sidebar-button{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
nav .sidebar-button i{
  font-size: 35px;
  color:#fff;
  margin-right: 10px;
  margin-bottom:3px;
}
.home-section nav .sidebar-button{
	color: #fff;
}
.home-section nav .profile-details{
  display: flex;
  align-items: center;
  background: #ffda47;
  border: 2px solid #ffda47;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}
.home-section nav .profile-details img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}
nav .profile-details .admin_name{
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  margin: 0 10px;
  white-space: nowrap;
}
nav .profile-details i{
  font-size: 25px;
  color: #fff;
}

@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}

/*table*/

table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid #fff;
  border-radius:8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0px 10px 5px;
}
th, td {
  text-align: center;
  padding:7px;  
}
h2{
  text-align: center;
  padding: 16px;
}
.search input{
  color: #000;
  text-decoration: none;
  font-size: 13px;
  border:2px solid #000;
  font-weight: 400;
  padding: 6px 12px;
  border-radius:8px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  margin:0 30px 0 900px;
}
.search input:hover{
	color:#000;
	border:2px solid #ffda47;
}

input.btn {
  border-radius: 6px;
  border: 1px solid #ffda47;
  background-color: #ffda47;
  color: #000;
  padding: 5px 20px;
  font-size: 12px;
  cursor: pointer;
}

.save:hover , .reset:hover , .view:hover, .edit:hover {
  border: 2px solid #ffda47;
  background-color:white;
  color: #000;
}
.delete:hover {
	border: 2px solid #f44336;
    background-color:#fff;
  color: #f44336;
}


