@charset "ISO-8859-1";



* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 19px;
}

.row {
margin: auto;
width: 70%;
display: flex;
padding: 10px;
border: 3px solid #f5b833;

}


.column {
  
  padding:0;
  margin:5px 20px 5px;
  width : 300px ;
 
}

.button {
  background-color: #f5b833;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  margin: 4px 20px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  
  
}
